



<div class="well">







<div class="col-md-3">
  <center>
    <i class="fa fa-address-book-o fa-5x"  aria-hidden="true"></i>
    <h5><%= link_to "All Patients", patients_path %></h5>
  </center>
</div>

<div class="col-md-3">
  <center><i class="fa fa-hospital-o fa-5x" aria-hidden="true" ></i>
  <h5><%= link_to "View Clients", patients_path  %></h5>
</div>


<div class="col-md-3">
  <center>
    <i class="fa fa-id-card-o fa-5x" aria-hidden="true"></i>
    <h5><%= link_to "Add Patient", new_patient_path %></h5>
  </center>
</div>






    <h2>    Search</h2> 


    <div class="col-md-3">

      <%= form_tag patients_path, class:'navbar-form', :method => 'get' do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], class:'form-control' %>
          <div class="input-group-btn">
            <%= submit_tag "Search", class: 'btn btn-info' %>
          </div>
        </div>

      </div>
      <% end %>

      <hr>

    

</div>

<hr>
